.title {
  padding-top: 100px;
  text-align: center;
  margin-bottom: 50px;
}
.title h3 {
  color: #F53626;
  font-size: 18px;
}
.title h1 {
  font-size: 35px;
  font-weight: 800;
}

.content .container .row .column .item {
  position: relative;
  transition: all 1s;
  margin-bottom: 30px;
  overflow: hidden;
}
.content .container .row .column .item .img img {
  border-radius: 15px;
  width: 100%;
}
.content .container .row .column .item:hover::after {
  left: 200px;
}
.content .container .row .column .item::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 2;
  display: block;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
  transition: all 0.3s;
}