footer{
    background-color: #111111;
    .top-footer{
        padding-top: 50px;
        padding-bottom: 50px;
        .item{
            h2{
                color: white;
                margin-bottom: 25px;
                font-size: 20px;
                font-weight: 800;
            }
            p{
                font-size: 16px;
                color: #696969;
                .key{
                    font-weight: 800;
                }
                .value{
                    &:hover{
                        color: white;
                        text-decoration: underline;
                    }
                }
            }
            .social{
                // display: flex;
                span{
                    margin-right: 20px;
                    &:hover{
                        color: white;
                    }
                }
            }
        }

    }
    .hr{
        height: 2px;
        background-color: rgba(103, 99, 99, 0.14);;
    }
    .bottom-footer{
        text-align: center;
        color: #696969;
        font-weight: 400;
        span{
            color: #f53626;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}